@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bree+Serif&family=Libre+Baskerville&family=PT+Serif&family=Pacifico&family=Playfair+Display:wght@400;800&family=Roboto+Condensed:wght@300&display=swap');
*{
  padding: 0%;
  margin: 0%;
}
.header-background-image{
  height: 696px;
  background: url(images/shutterstock_628764224.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

@media (max-width: 1202px){
  r-background-image{
      height: 613px;
  }}

.header-background-image::before{
  content: '';
    background: url(images/bg2.png);
    position: absolute;
    background: cover;
    top: 55px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    height: 82%;
 }
  .nav-link.active{
         color: rgb(0, 0, 0);

font-family: 'Playfair Display', serif;

  }
  .nav-bar-light .navbar-nav .nav-link.active:hover{
    color: rgb(5, 5, 255);
}
@media (max-width:991.98px) { 
  .navbar-light .navbar-nav .nav-link.active{
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}}


@media (max-width:991.98px) { 
  .material-symbols-outlined{
  font-size: 30px;
  font-weight: bolder;
  font-weight: 900;
}
  }
 
 
  .contain-img{
    background-image: url(images/bg2.png);
   
  }
  .textone{
font-family: 'Playfair Display', serif;
  }
  @media (max-width:991.98px) { 
    .textone{
      font-size: 95%;
      color: black
    
  }
    }

  .texttwo{
font-family: 'Playfair Display', serif;
font-size: 219%;
font-weight: 600;
  }
 @media (max-width:991.98px) { 
    .texttwo{
    font-size: 170%;
    
  }
    }
  .btn{
    background-color: rgb(13, 13, 121);
    color: white;
  }
  .img{
    margin-top: 30%;
    overflow: auto;
  }
  .secondbox{
    background-color: red;
    padding-top: 12%;
    padding-bottom: 12%;
    justify-content: center;
    display: flex;
  }
  .textfour{
    display: flex;
    float: right;
    margin-right: 22%;
    margin-top: 7%;
    text-decoration: none;
}
.next-back-txt{
  position: absolute;
  right: 245px;
  bottom: 0;
 
}
.next{
  border-left: 1px solid black;
  color: rgb(4, 4, 4);
  margin-left: 10%;
  padding-left: 10px;
  text-decoration: none;
  text-decoration-line: inherit;
}
.next:hover{
color: yellow;

}
.banneerimgone{
  width:51% ;
  height: auto;
}
.back{
  padding-right:10px ;
  text-decoration: none;
  color: black;
  text-decoration-line: inherit;
}
.back:hover{
  color: yellow;
}
.textcard1st{
  position: relative;
}
.textcard2st{
  position: relative;
}
@media (max-width: 991.98px){
  .textcard2st{
 display: flex;
 justify-content: center;
  }}

.textcard3st{
  position: relative;
}
@media (max-width: 991.98px){
  .textcard3st{
 display: flex;
 justify-content: center;
  }}
.textcard4st{
  position: relative;
}
.text2st{
  display: flex;
  position: absolute;
  bottom: 0;
  color: white;

  font-family: 'Playfair Display', serif;
}
.text3st{
  display: flex;
  position: absolute;
  bottom: 0;
  color: white;

  font-family: 'Playfair Display', serif;
}
.text4st{
  display: flex;
  position: absolute;
  bottom: 0;
  color: white;

  font-family: 'Playfair Display', serif;
}
.text1st{
  display: flex;
  position: absolute;
  bottom: 0;
  color: white;

  font-family: 'Playfair Display', serif;
  
}
.text1st1{
   color: white;
  display: flex;
  position: absolute;
bottom: 0;
  font-family: 'Playfair Display', serif;
  
}
.fifth-img{
position: relative;
}
@media (max-width: 991.98px){
  .fifth-img{
 display: flex;
 justify-content: center;

  }}

.product-textone{
  
font-family: 'Playfair Display', serif;

}
.product-textTwo {
 font-weight: 500;
 
}
.card-text{
  font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bolder;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0
}
.no1{
  text-decoration: line-through;
  font-size: 10px;
}
.no2{
  color: green;
  font-size: 10px;
}
.icon-texts{
 display: flex;
 

}
#icondesigning{
  margin-top: -5px;
}
.ICON-MAIN{
  display: flex;
  justify-content: space-between;
}


.overlay-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.main-div-img{
 position: relative;
}
.main-div-img::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(255, 174, 1);
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 12px;

}
.three-card-icon{
  background-color: rgba(40, 39, 39, 0.185);
}

.main-div{
  display: flex;
    justify-content: space-between;
}
.main-div-img3{
  position: relative;
}
.main-div-img3::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(255, 174, 1);
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 12px;
}
.main-div-img6{
  position: relative;
}
.main-div-img6::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(255, 174, 1);
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 12px;
}

.main-div-img8{
  position: relative;
}
.main-div-img8::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(255, 174, 1);
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 12px;
}
.introduction{
  background-image: url(images/shutterstock_1182199747.png);
  background-repeat: no-repeat;
  background-size: cover;
  width:100% ;
  height: 679px;
  
}
.introtextone{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.introtexttwo{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
.introbtn{
  background-color: rgb(30, 11, 11);
  color: white;
  
}
.introbt{
  display: flex;
  justify-content: center;
}
.introbtn :hover{
  box-shadow:blue;
  color: white;
  border-color: blue;
}
#prodcardtxt{
  display: flex;
  margin-top: 50px;
}
.main-div-img-9{
  position: relative;
}
.main-div9-footer{
  position: absolute;
  bottom: 0;
}
.main-div-img-9::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(137, 111, 5);
  color: white;
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 3px;
}
.main-div10-footer{
  position: absolute;
  bottom: 0;
}
.main-div-img-10{
 position: relative;
}
.main-div-img-10::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(137, 111, 5);
  color: white;
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 3px;
}  
.main-div-img-10::after{
  content: "HOT";
  top: 34px;
  left: 8px;
  background-color: rgb(40, 84, 1);
  color: white;
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 3px;
}  
.main-div11-footer{
  position: absolute;
  bottom: 0;
}
.main-div-img-11{
 position: relative;
}
.main-div-img-11::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(137, 111, 5);
  color: white;
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 3px;
}  
.main-div12-footer{
  position: absolute;
  bottom: 0;
}
.main-div-img-12{
 position: relative;
}
.main-div-img-12::before{
  content: attr(title );
  top: 8px;
  left: 8px;
  background-color: rgb(137, 111, 5);
  color: white;
  border-radius: 3px;
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  padding: 0 3px;
}  
    .card-header{
      border-bottom: none;
      background-color: none;
    }
    .card-footer{
      border-top: none;
      background-color: none;
    }
    .second-card-badge{
     background-color: rgb(189, 189, 87) ;
    }
   
        .next2{
          border-left: 1px solid black;
          color: rgb(0, 255, 55);
        
          padding-left: 10px;
        }
        #star-decorations :hover{
          color: rgb(0, 0, 0);
          font-weight: 900;
          font-size: xx-large;

        }
        .footer-heading{
          font-family: 'Playfair Display', serif;
          font-weight: 800;
          color: white;
        }
        .footer-a-text{
          text-decoration: none;
          color: rgb(129, 128, 128);
          font-size: small;
          
        }
        .footer-u{
          list-style-type: none;
          padding-left: 0%;
        }
        .footer{
background-color: rgb(39, 39, 39);
        }
       .footer-lastrow-txt{
        color: rgb(129, 128, 128);
        font-size: small;
       }
    
      
.ban-text-first{
  z-index: 0;

}
.ban-img{
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 301px;
  width: 301px;
}
.main-btn-img-div{
 position: relative;
}
.box{
  position: relative;
}
.box::after{
  content: '01';
  position: absolute;
  bottom: -343px;
  background: blue;
  padding: 15px;
  left: -79px;
  font-size: 33px;
  font-weight: 200;
  color: #fff;
  width: 78px;
  display: flex;
  justify-content: center;
}
.back1{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
 
}
.next1{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
  margin-left: 30px;
}
.back1:hover{
  color: rgb(230, 255, 5);
}
.next1:hover{
  color: rgb(212, 255, 0);
}

.back2{
  text-decoration: none;
  color: black;
  text-decoration-line: underline;
  margin-right: 11px;
}
.next2{
  text-decoration: none;
  color: black;
  text-decoration-line: underline;
}
.back2:hover{
  color: rgb(1, 99, 24);
}
.next2:hover{
  color: rgb(10, 101, 0);
}

.main-div-img::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img:hover::after,
.main-div-img:hover + .content {
  display: grid;/* Display the elements after hovering */
  
  
}
.main-div-img2::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img2:hover::after,
.main-div-img2:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img3::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img3:hover::after,
.main-div-img3:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img4::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img4:hover::after,
.main-div-img4:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img5::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img5:hover::after,
.main-div-img5:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img6::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img6:hover::after,
.main-div-img6:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img7::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img7:hover::after,
.main-div-img7:hover + .content {
  display: grid; /* Display the elements after hovering */
  
  
}
.main-div-img8::after,
.content {
  position: absolute;
  top: 0;
  right: 0;
  display: none; /* Initially hide the elements */
  background: #0000001a;
  text-decoration: none;
  color: black;

}

.main-div-img8:hover::after,
.main-div-img8:hover + .content {
  display: grid;
  
}
.header-second-icon{
  position: relative;
}
.shoping-bag-icon::after{
  content: "1";
  position: absolute;
  bottom: 11px;
  background-color: rgb(57, 108, 57);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 49%;
  color: white;
  left: 21px;
  display: flex;
  justify-content: center;
}
@media (max-width:1200.991px) { 
  .header-background-image::before{
    content: '';
    background: url(images/bg2.png);
    position: absolute;
    background: cover;
    top: 38px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    height: 86%;
    
  }
}
@media (max-width:1200px) { 
  .header-background-image{
   
  height: 605px;
    
  }}
@media (max-width:991px) { 
  .header-background-image::before{
    display: none;
    
  }
}
@media (max-width:991px) {
.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}}
@media (max-width:991.98px) { 
  .header-background-image{
    height:100%;
    
  }
}

@media (max-width:991.767px) { 
  .box::after{
    content: '01';
    position: absolute;
    bottom: -218px;
    background: blue;
    padding: 15px;
    left: -44px;
    font-size: 33px;
    font-weight: 100;
    color: #fff;
    width: 78px;
    display: flex;
    justify-content: center;
}
    
  }



/*X
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.767px){
  .ban-img{
    position: absolute;
    top: -27px;
    bottom: 0;
    left: 34px;
    right: 0;
    height: 244px;
    width: 300px; }}
    @media (max-width: 767.98px){
      .ban-img{
        position: absolute;
        top: 42px;
        bottom: 0;
        left: 34px;
        right: 0;
        height: 179px;
        width: 300px;
      }}
      @media (max-width: 767.575px){
        .box::after{
          content: '01';
          position: absolute;
          bottom: -221px;
          background: blue;
          padding: 14px;
          left: -22px;
          font-size: 15px;
          font-weight: 100;
          color: #fff;
          width: 56px;
          display: flex;
          justify-content: center;
        }}
        @media (max-width: 575.98px) {  
          .ban-img{
            display: none;
        }}

      @media (max-width: 575.98px) {  
        .box::after{
          display: none;
      }
          
        }
        @media (max-width: 350.98px) { 

         }
         .first-ul{
          display: flex;
          align-items: center;
          margin-top: 25px;
          justify-content: space-between;
        
         }
         .second-ul{
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
         
          margin-top: 25px;
        
         }
         @media (max-width: 991.98px){
          .ban-text-first{
          margin-bottom: 20px; 
          color: white;
          }}
     .active{
margin-right: 33px;

        }
        .active:hover{
          color: blue;
        }
        
        .active-2{
          margin-right: 46px;
        }
        /* 
      @media (max-width: 1199.991px){
        .active{
         margin-top: 18px;
          
        }}*/
        @media (max-width: 1200.575px){
          .introduction{
            background-image: url(images/shutterstock_1182199747.png);
            background-repeat: no-repeat;
            background-size: cover;
            width:100% ;
            height: 201vh;
            
          }}
          @media (max-width: 11330.991px){
            .navbar-brand-one{
             display: none;
              
            }}
            @media (max-width: 991.98px){
              .navbar-brand-one{
               display: contents;
                
              }}
             

          .material-symbols-outlined:hover {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
            
          }
      
          @media (max-width: 991.98px){
            .navbar-brand{
           display: none;
            }}
            @media (max-width: 991.98px){
              .second-ul{
                display: inline-block;
                display: inline-block;
                font-weight: 900;
                color: black;
              }}
             